* {
  background-color: rgb(32, 188, 209);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h1 {
  color: darkgreen;
}

img {
  width: 800px;
  height: auto;
  align-content: center;
}

li:hover {
  color: aliceblue;
}

p {
  color: aliceblue;
}
